.page {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.page2 {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #32618D;
}

.splash-logo {
	width: 150px;
	height: 150px;
}

.tab {
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 3px;
}

.scroll-root {
	width: 100%;
	height: 85%;
	flex-direction: column;
}

.scroll-root2 {
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.tab-back {
	width: 20%;
	height: auto;
	padding-right: 5px;
	color: white;
	text-align: right;
	font-size: 25px;
	font-weight: bold;
}

.tab-text {
	width: 60%;
	height: auto;
	color: white;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

.tab-more {
	width: 20%;
	height: auto;
	padding-left: 5px;
	color: white;
	text-align: left;
	font-size: 25px;
	font-weight: bold;
}

.list {
	width: 100%;
	height: 130%;
	padding: 5px;
	flex-direction: column;
}

.fun-img {
	width: 40px;
	height: 40px;
}

.fun-list3 {
	width: 100%;
	height: 90px;
	padding: 5px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.fun-item {
	width: 80px;
	height: 80px;
	padding: 10px;
	margin: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #3c3c3c;
	border-radius: 15px;
}

.fun-item-th {
	width: 80px;
	height: 80px;
	padding: 10px;
	margin: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.exit {
	width: 100%;
	height: 85%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.exit-QR {
	width: 90%;
	height: auto;
	margin-top: 20px;
}

.exit-tip-text {
	width: 95%;
	height: auto;
	color: #7b7b7b;
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
}

.exit-tip-text-a {
	width: 95%;
	height: auto;
	color: #32618D;
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
	font-weight: bold;
}

.exit-choose {
	width: 100%;
	height: auto;
	margin-top: 20px;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.exit-choose2 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 20px;
}

.exit-choose-value {
	width: 80px;
	height: 80px;
	padding: 10px;
	margin: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #3c3c3c;
	border-radius: 30px;
}

.exit-choose-value-red {
	width: 80px;
	height: 80px;
	padding: 10px;
	margin: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #740000;
	border-radius: 30px;
}

.exit-choose-img {
	width: 40px;
	height: 40px;
}

.exit-choose2-value {
	width: 80px;
	height: 80px;
	padding: 10px;
	margin: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 40px;
}

.exit-choose2-img {
	width: 40px;
	height: 40px;
}

.edittext {
	width: 90%;
	height: 80%;
	text-align: left;
	font-size: 25px;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

.edittext-div {
	width: 95%;
	height: 15%;
	color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	border: 4px solid #3c3c3c;
}


.edittext2 {
	width: 90%;
	height: 80%;
	font-size: 25px;
	text-align: left;
	color: white;
}

.edittext2-div {
	margin-top: 20px;
	width: 95%;
	height: 80px;
	color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	border: 4px solid #3c3c3c;
}

.edittext-stack-div {
	width: 100%;
	height: 70%;
	display: flex;
	align-items: flex-start;
}

.edittext_scroll {
	width: 90%;
	height: 80%;
	display: flex;
	align-items: center
}

.edittext4-div {
	margin-top: 20px;
	width: 95%;
	height: 120px;
	color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	border: 4px solid #3c3c3c;
}

.edittext4 {
	width: 60%;
	height: 80%;
	text-align: left;
	color: white;
}