<?xml version="1.0" encoding="UTF-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="2605140" android:versionName="5.26.5">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.type.watch" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:ignore="RequestInstallPackagesPolicy" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSERS"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--service前台服务-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_CAMERA"
        tools:ignore="ProtectedPermissions" />
    <application android:name="open.cn.awg.pro.app.AwgProApplication" android:exported="true" android:usesCleartextTraffic="true" android:windowSoftInputMode="stateHidden|adjustResize" android:persistent="true" android:hardwareAccelerated="true" android:icon="@mipmap/icon" android:label="@string/app_name" android:largeHeap="true" android:resizeableActivity="false" android:supportsRtl="true" android:theme="@style/AppBaseTheme" android:requestLegacyExternalStorage="true" android:networkSecurityConfig="@xml/network_config"
        tools:ignore="DiscouragedApi">
        <activity android:name=".ui.main.MainActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop" android:theme="@style/AppBaseTheme.Launcher" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity-alias android:name=".main2" android:icon="@mipmap/i2" android:enabled="false" android:label="@string/app_name" android:targetActivity=".ui.main.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:name=".repair.ErrorMessageActivity" android:theme="@style/AppBaseTheme.ErrorActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".repair.RecoveryOptionsActivity" android:theme="@style/AppBaseTheme.ErrorActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".repair.CrashFeedbackActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".ui.main.OnboardingSetupActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".update.AppUpdateInstallActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".download.DownloadProgressActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".account.OnlineIdActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".repair.ResetAppActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".chat.WearChatAgreementActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".viewer.TextViewerActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".viewer.ImageViewerActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".installer.ApkPreviewActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".viewer.TextEditorActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".file.DeleteConfirmActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.SystemPermissionActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".settings.TextViewerSettingsActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".settings.DisplayMarginActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".update.UpdatePromptActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".media.VideoPlayerActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".media.WearMusicActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".file.FileOpenActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".installer.PackageInstallerActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".chat.ChatRoomActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".browser.X5BrowserActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.TerminalCompatibilityActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.SystemToolsActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.LogCleanupActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.DeviceScanPlaceholderActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.NetworkOptimizeActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".plugin.ExtensionPluginDetailActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".account.TypheyeLoginActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".account.ThirdPartyAuthorizationActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".store.ProductPurchaseActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".store.StoreSearchActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".chat.ChatGptActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".chat.DeepSeekActivity" android:theme="@style/AppBaseTheme.SwipeToDismiss" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".installer.ApkInstallerActivity" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" android:configChanges="screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".ui.main.TextQrDisplayActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".file.FileManagerActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".file.FileRootPickerActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".ui.main.AboutAppActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".account.TypheyeAccountActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".settings.SettingsActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".settings.FileManagerSettingsActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".account.AppActivationActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".update.AppUpdateActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.CloudServiceActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".settings.WearChatSettingsActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".experimental.DeveloperTestActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".browser.X5BrowserSettingsActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".settings.MediaBrowserSettingsActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".settings.LegalInfoActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".settings.ThemeSettingsActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".chat.WearChatActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".chat.ChatMessageDetailActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.FingerprintActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.AccessibilityScriptActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.ShellExecutorActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".announcement.AnnouncementActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.LocationInfoActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.LocationActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".experimental.MoreFeaturesActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".download.AppDownloadActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.TextTranslateActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".browser.X5CoreInstallActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".experimental.ExperimentalFeaturesActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".apps.InstalledAppListActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".plugin.ExtensionPluginActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".store.StoreDetailActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".store.StoreListActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".experimental.ServerDebugActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".music.TuneFreeActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".music.TuneFreeCloudSearchActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".live.LiveStreamActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".live.LiveChannelDetailActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".experimental.AppDebugActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.WearOsToolboxActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <activity android:name=".tools.RemoteControlActivity" android:configChanges="uiMode|screenSize|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustPan" android:launchMode="singleTop"/>
        <receiver android:name="open.cn.awg.pro.receiver.DeviceReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN" android:exported="true">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin"/>
            <intent-filter android:priority="1000">
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
        <!-- 注册广播 -->
        <receiver android:name="gl.DownLoadBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="open.cn.awg.pro.receiver.StartReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WALLPAPER_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:name="open.cn.awg.pro.service.SystemAccessibilityService" android:enabled="true" android:exported="true" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter android:priority="1000">
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config"/>
        </service>
        <service android:name="open.cn.awg.pro.service.AwgCoreService" android:enabled="true" android:exported="true"
            android:process=":CoreService"
            tools:ignore="ExportedService">
            <intent-filter android:priority="1000">
                <action android:name="open.cn.awg.pro.service.AwgCoreService"/>
            </intent-filter>
        </service>
        <service android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService" android:label="dexopt"
            android:process=":dexopt" android:exported="true"
            tools:ignore="ExportedService">
        </service>
        <service android:name="open.cn.awg.pro.service.BootJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true">
            <intent-filter>
                <action android:name="open.cn.awg.pro.BOOT_JOB"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </service>
        <provider android:name="i.app.FileProvider" android:exported="false" android:authorities="open.cn.awg.pro.myFileProvider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider"/>
        </provider>
        <!--
        <meta-data android:name="i_app_multiDex" android:value="shi" />
        <meta-data android:name="i_app_autoPermission" android:value="fou" />
        <meta-data android:name="i_app_logOutput" android:value="shi" />
        <meta-data android:name="i_app_errLogOutput" android:value="shi" />
        -->
</application>
</manifest>
